asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Django==3.1.4
djangorestframework==3.12.2
Flask==1.1.2
Flask-MySQLdb==0.2.0
hospital==0.9
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysqlclient==2.0.1
Pillow==8.0.1
pytz==2020.4
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
views==0.3
Werkzeug==1.0.1
